<nav class="navbar navbar-primary sticky-top bg-primary flex-md-nowrap p-0" style="height: 60px;">
    <a style="color: white" class="navbar-brand col-sm-3 col-md-2 mr-0" href="/admin">TEK SMARTEST</a>
    <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a style="color: white" class="nav-link" href="/admin/questions">Add Questions</span></a>
        </li>
    </ul>
    <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a style="color: white; margin-right: 600px" class="nav-link" href="/admin/view_questions">View Questions</span></a>
        </li>
    </ul>
    <ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap">
            <a style="color: white" class="nav-link" href="/admin/logout">Welcome,
                                <%= username %> 
                            <i class="fa fa-sign-out"></i></a>
        </li>
    </ul>
</nav>