<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="images/favicon.ico">
    <title>TEK Smartest</title>
    <!--Fonts-->
    <link rel="stylesheet" href="/vendor/bootstrap/dist/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
    <!-- Icons -->
    <link href="/styles/font-awesome.min.css" rel="stylesheet">
    <script src="/vendor/jquery/dist/jquery.min.js"></script>
    <link rel="stylesheet" href="/vendor/jquery-countdown/css/jquery.countdown.css">
    <link href="/styles/style.css" rel="stylesheet">

</head>

<body>
    <div class="container-fluid" id="wrapper">
        <div class="row">
            <nav class="sidebar col-xs-12 col-sm-4 col-lg-3 col-xl-2 bg-faded sidebar-style-1">
                <h1 class="site-title"><a href="index.html"><em class="fa fa-lightbulb-o"></em> TEK Smartest</a></h1>

                <a href="#menu-toggle" class="btn btn-default" id="menu-toggle"><em class="fa fa-bars"></em></a>

                <ul class="nav nav-pills flex-column sidebar-nav">
                    <li class="nav-item"><a class="nav-link active" href="/admin"><em class="fa fa-dashboard"></em> Dashboard <span class="sr-only">(current)</span></a></li>
                    <li class="nav-item"><a class="nav-link" href="/admin/questions"><em class="fa fa-plus"></em> Add Questions</a></li>
                    <li class="nav-item"><a class="nav-link" href="/admin/view_questions"><em class="fa fa-eye"></em> View Questions</a></li>
                    <li class="nav-item"><a class="nav-link" href="/admin/quiz_scores"><em class="fa fa-bar-chart"></em> View Scores</a></li>
                </ul>

                <a style="color: white" id="beginShow" class="logout-button"><em class="fa fa-play"></em> Let's Play!</a></nav>

            <main class="col-xs-12 col-sm-8 offset-sm-4 col-lg-9 offset-lg-3 col-xl-10 offset-xl-2 pt-3 pl-4">
                <header class="page-header row justify-center">
                    <div class="col-md-6 col-lg-8">
                        <h1 class="float-left text-center text-md-left"> Dashboard</h1>
                    </div>

                    <div class="dropdown user-dropdown col-md-6 col-lg-4 text-center text-md-right">
                        <a class="btn btn-stripped dropdown-toggle" href="https://example.com" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">

                            <div class="username mt-1">
                                <h4 class="mb-1">
                                    Welcome,
                                    <%= username %>
                                </h4>

                                <h6 class="text-muted">Admin</h6>
                            </div>
                        </a>

                        <div class="dropdown-menu dropdown-menu-right" style="margin-right: 1.5rem;" aria-labelledby="dropdownMenuLink">
                            <a class="dropdown-item" href="/admin/logout"><em class="fa fa-power-off mr-1"></em> Logout</a></div>
                    </div>

                    <div class="clear"></div>
                </header>

                <section class="row">
                    <div class="col-sm-12">
                        <section class="row">
                            <div class="col-md-12 col-lg-6">
                                <div class="card mb-4">
                                    <div id="actConstests" class="card-block">
                                        <h3 style="padding-left: 25px; padding-top: 25px" class="card-title">Quiz Contestants</h3>

                                        <h6 style="padding-left: 30px" class="card-subtitle mb-2 text-muted">Active Participants</h6>

                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 mb-6">
                                <div class="card">
                                    <div class="card-header text-center">QUIZ TIMER</div>

                                    <div style="font-size: 40px" id="timer" class="card-block text-center">
                                        <p></p>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                </section>
            </main>
        </div>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src='/socket.io/socket.io.js'></script>
    <script src="/vendor/jquery.blockUI.js"></script>
    <script src="/vendor/popper.min.js"></script>
    <script src="/vendor/bootstrap/dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/vendor/jquery-countdown/js/jquery.plugin.min.js"></script>
    <script src="/vendor/jquery-countdown/js/jquery.countdown.min.js"></script>
    <script src='/js/admin.js'></script>
</body>

</html>